
* {
    margin: 0;
    padding: 0;
}

canvas {
    background-color: cadetblue;
    image-rendering: pixelated;
}

.transitionDiv {
    background-color: black;
    position: absolute;
    pointer-events: none; /* Ensures clicks can go through the div */
}
